header {
    background-color:crimson
}
main {
    background-color: chocolate;
    justify-content: center;
    align-items: self-start;
}
body {
    background-color: blue {206, 206, 206}
    font-family: Arial, Helvetica, sans-serif;
}